$color-text: #757575;
$color-title: #212121;
$color-accent: #2196F3;
$color-main: #FFFFFF;
$color-footer: #2F303A;
$color-background: #F5F4FA;
$partners-color: #AFB1B8;
$time-hover: 250ms;
$cubic-for-all: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: "Roboto", sans-serif;
$logo-font-family: "Raleway", sans-serif;